<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedimento_Detalhes</title>
</head>
<body>
    <h2>Detalhes de Procedimento</h2>

    <table>
        <tr>
            <th>Nome:</th>
            <td>{{ procedimento.nome }}</td>
        </tr>
        <tr>
            <th>Descrição:</th>
            <td>{{ procedimento.descricao }}</td>
        </tr>
    </table>
</body>
</html>